language: go

go:
  - 1.10.x
  - master

env:
  - DEP_VERSION="0.4.1"

before_install:
  # Install dep as per https://golang.github.io/dep/docs/FAQ.html#how-do-i-use-dep-in-ci
  - curl -sfL https://github.com/golang/dep/releases/download/v${DEP_VERSION}/dep-linux-amd64 -o $GOPATH/bin/dep
  - chmod +x $GOPATH/bin/dep
  # Install golangci-lint
  - curl -sfL https://install.goreleaser.com/github.com/golangci/golangci-lint.sh | bash -s -- -b $GOPATH/bin v1.9.1

install:
  - make get-deps

script:
  - make test
  - make lint

after_success:
  - bash <(curl -s https://codecov.io/bash)
